*{
    margin: 0%;
    padding: 0%;
} 
html,body {
    margin: 0%;
    padding: 0%;
    background-image: url(bg.jpg.png);

background-repeat: no-repeat;
background-size: cover;
background-position: justify;
background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    font-weight: 400;
}

.logo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 250px;
    height: 100%;
    margin: 0% 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
   
}
.logo img{
    position: relative; 
    left: -40%;
    height: 52px;
    width: 120px;
    margin: 0%;
    padding: 0%;
 /*   border: 5px solid white;*/
}
.logo h5{
    position: absolute;
    left: 0%;
   top: 65%;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 200;
    font-size: 1.1rem;
    color:rgb(192, 52, 52);
}
.logo:hover{
   
cursor: pointer;
}
ul{
    position: sticky;
    display: flex;
    flex-direction:row ;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.432);
    padding: 25px;
   /*border: 5px solid white;*/
    }
ul li{
    position: relative;
    list-style: none;
    margin: 0%;
    /*border: 5px solid white;*/    
}
ul li a{
    text-decoration: none;
    padding:12px;
    margin: 0 20px;
    color: white;
    border-radius: 5px;
    font-size: .95rem;
    
 
}
.dropdn{
    width: 8px;
    height: auto;
}

ul a:hover{
    color: white;
    background-color:maroon;
    transition: .55s ease-in;
}
.btn{
 position: absolute;
 right: 0%;
 margin: 0px 30px;
}
button {
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 0 5px;
    outline: none;
    color: white;
    transition: .5s ease-in;
    background-color:maroon;
}

 

#btn1:hover{
    background-color: rgb(59, 87, 4);
}
div.cret1{
    position: absolute;
    z-index: 30;
    display: none;
    color: white;
    padding: 20px;
    z-index: 1;
    width: 20vw;
    height: 40vh;
    background-color:rgba(0, 0, 0, 0.432);
    border: solid 0px;
    border-radius: 0 0 8px 8px;
    text-align: center;
    margin: 4vh 0vw;
}

.dropdown{
    position: relative;
    display: block;
}
.dropdown:hover #cret1{
    display: block;

}
#cret1:hover{
    display: block;

}
div.form-container{
    position: relative;
    float: right;
    margin: 6%;
    width: 25vw;
    height: 40vh;

    font-family: 'Sansita Swashed', cursive;
    border-radius: 12px;
    text-align: center;
}
div.form-container h1{ 
    font-weight: 300;
    font-size: 1.5rem;
    padding-top: 15px;
    margin-top: 3%;

}
div.form-container p{
    line-height: 2rem;
    letter-spacing: .2rem;
    font-size: 1.0rem;
  margin-top: 3vh;
} 
div input{
    padding: 10px 16px;
    margin: 4vh 0 4vh 0;
    background-color: transparent;
    color: white;
}
#joinus{
   height: 6vh;
   width: 12vw;
   border-radius: 8px;
   text-align: center;
}
#joinus:hover{
    background-color:rgb(59, 87, 4); ;
}

